<div class="converter-menu-right">
	<div class="side-header">
		<h4>Common Conversions</h4>
	</div>
	<div data-ng-click="converter.typeChange('Currency')" class="converter-item" tabindex="1">
		<span class="fa-wrapper">
			<i class="fas fa-money" aria-hidden="true"></i>
		</span>
		<span class="fa-label">$USD to $CAD</span>
	</div>
	<div data-ng-click="converter.typeChange('Length')" class="converter-item"  tabindex="2">
		<span class="fa-wrapper">
			<i class="fas fa-car" aria-hidden="true"></i>
		</span>
		<span class="fa-label">Miles to Kilometers</span>
	</div>
	<div data-ng-click="converter.typeChange('Temperature')" class="converter-item" tabindex="3">
		<span class="fa-wrapper">
			<i class="fas fa-thermometer-half" aria-hidden="true"></i>
		</span>
		<span class="fa-label">Fahrenheit to Celcius</span>
	</div>	
	<div data-ng-click="converter.typeChange('Volume')" class="converter-item" tabindex="4">
		<span class="fa-wrapper">
			<i class="fas fa-tint" aria-hidden="true"></i>
		</span>
		<span class="fa-label">Gallons to Litres</span>
	</div>	
	<div data-ng-click="converter.typeChange('Weight')" class="converter-item" tabindex="5">
		<span class="fa-wrapper">
			<i class="fas fa-balance-scale" aria-hidden="true"></i>
		</span>
		<span class="fa-label">Pounds to Kilograms</span>
	</div>
</div>		