.page {
	@extend .row;
	// @include flex-wrap(nowrap);

	@include media-breakpoint-up(md) {
		min-height: 500px;
	}

	&__main {
		@include make-col-ready();
		@extend .pt-4;

		@include media-breakpoint-up(md) {
		    flex: 0 0 66.66667%;
		    max-width: 66.66667%;

			&--short {
				flex: 0 0 41.66667%;
	    		max-width: 41.66667%;
			}
		}

		@include media-breakpoint-up(lg) {
		    flex: 0 0 75%;
		    max-width: 75%;

			&--short {
				flex: 0 0 50%;
	    		max-width: 50%;
			}
		}
	}

	&__aside {
		@extend .col-12;
		@extend .col-md-4;
		@extend .col-lg-3;
		@extend .pt-3;

		&--right {
			@extend .d-none;
			@extend .d-md-block;
			@extend .col-md-3;
		}
	}

	&__page-section {
		@extend .mb-4;
	}

	&__header-wrapper {
		@extend .text-center;
		@extend .mb-4;
	}

	&__content-wrapper {
		@extend .mb-4;

		&--md {
			@extend .mb-4;
		}

		&--lg {
			@extend .mb-5;
		}
	}
}