<div class="row" id="gas-calculator">

	<section class="col-md-8 col-md-push-4">
		<div class="header-wrapper">
			<h1>Gas Calculator</h1>
			<h3>Convert USD/gallon to CAD/litre</h3>
		</div>
		<select class="form-control big-select" ng-model="gasCalculator.selectedState" ng-options="stateObject.name for stateObject in gasCalculator.statesArray" ng-change="gasCalculator.getGasPrices()">
			<option value="" disabled selected>Select border state</option>
		</select>
		<div ng-if="gasCalculator.gasObject" class="table-responsive">
			<table id="gas-results-table" class="table table-striped">
				<thead>
					<th>Price</th>
					<th>Station</th>
					<th>Area</th>
					<th>Time</th>
				</thead>
				<tbody>
					<tr ng-repeat="station in gasCalculator.gasObject">
						<td class="big" ng-click="gasCalculator.convertGas(station.price)" >{{station.price | currency}}</td>
						<td>
							<div class="big-name">
							{{station.brand}}
							</div>
							{{station.address}}
						</td>
						<td>{{station.area}}</td>
						<td>{{station.time}}</td>
					</tr>
				</tbody>
			</table>
			<p class="note"><strong>Note: </strong> This table shows only the cheapest reported prices for regular gas in states that share a border with Canada.</p>
		</div> <!-- table-responsive -->
	</section>

	<aside class="col-md-4 col-md-pull-8">
		<div class="side-section">
			<div class="side-header">
				<h3>Conversion</h3>
			</div>
			<div id="gas-results-outer">
				<div id="gas-results-inner">					
					<span class="big">						
						<img src="../../assets/images/american-icon-small.png" alt="american flag">{{gasCalculator.gallonUSD | currency}}</span>
					<span class="medium">USD/gallon</span>
					<span class="huge text-center">=</span> 
					<span class="big">						
						<img src="../../assets/images/canadian-icon-small.png" alt="canadian flag">{{gasCalculator.litreCAD | currency}}</span> 
					<span class="medium">CAD/litre</span>				
					<div class="form-inline top-buffer text-center">
						<label for="per-gallon-price" class="control-label">Convert USD/gallon to CAD/litre equivelent</label>
						<input id="per-gallon-price" type="text" class="form-control item-control" ng-model="gasCalculator.gallon" ng-blur="gasCalculator.convertGas(gasCalculator.gallon)" placeholder="Enter USD/gallon" format-as-currency />
						<button	type="button" class="btn btn-primary">
							Calculate
						</button>
						<p class="note">
							<strong>NOTE:</strong> This result is calculated using the current exchange rate and bank exchange fee as seen below
						</p>
					</div>
				</div>				
			</div>	
		</div>
		<div ui-view="exchangeView"></div>
	</aside> <!-- end right column -->

</div>
