<main id="gas-calculator">
	<section class="col-full col-side-push">
		<div class="header-wrapper">
			<h1>Find Cheap Gas</h1>
			<h2>Convert USD/gallon to CAD/litre</h2>
			<h4>Select a state and click a price to convert to the CAD/litre equivelent</h4>
		</div>
		<select class="form-control big-select" ng-model="gasCalculator.selectedState" ng-options="stateObject.name for stateObject in gasCalculator.statesArray" ng-change="gasCalculator.getGasPrices()">
			<option value="" disabled selected>Select border state</option>
		</select>
		<div class="table-responsive" ng-if="gasCalculator.gasObject">
			<h3>Cheapest Gas in {{gasCalculator.selectedState.name}}</h3>
			<table id="gas-results-table" class="table table-striped">
				<thead>
					<th>Price</th>
					<th>Station</th>
					<th>Area</th>
					<th>Time</th>
				</thead>
				<tbody>
					<tr ng-repeat="station in gasCalculator.gasObject">
						<td class="big" title="Click to convert to CAD/litre" ng-click="gasCalculator.convertGas(station.price)" >{{station.price | currency}}</td>
						<td>
							<div class="big-name">
							{{station.brand}}
							</div>
							{{station.address}}
						</td>
						<td>{{station.area}}</td>
						<td>{{station.time}}</td>
					</tr>
				</tbody>
			</table>
			<p class="note" ng-if="gasCalculator.gasObject"><strong>Note: </strong> This table shows only the cheapest reported prices for regular gas in states that share a border with Canada.</p>
		</div> <!-- table-responsive -->
	</section>

	<aside class="col-side col-full-push">
		<section class="side-section">
			<div class="side-header-double">
				<h3>Gas Converter</h3>
				<h4>Convert USD/gallon to CAD/litre</h4>
			</div>
			<div id="converter-outer">
				<div id="converter-inner" class="gas-background">
					<div id="converter-innermost">						
						<span class="big">						
							<img src="../../assets/images/american-icon-small.png" alt="american flag">{{gasCalculator.gallonUSD | currency}}
						</span>
						<strong>USD/gallon</strong>
						<span class="huge equals">=</span> 
						<span class="big">						
							<img src="../../assets/images/canadian-icon-small.png" alt="canadian flag">{{gasCalculator.litreCAD | currency}}
						</span> 
						<strong>CAD/litre</strong>
					</div>				
					<div class="top-buffer text-center">
						<label for="per-gallon-price" class="control-label">Enter a price in USD/gallon to convert</label>
						<div class="row">
							<div class="col-xs-6 snuggle-right">
								<input id="per-gallon-price" type="text" class="form-control input-lg" ng-model="gasCalculator.gallonUSD" ng-blur="gasCalculator.convertGas()" placeholder="Enter USD/gallon" format-as-currency />
							</div>
							<div class="col-xs-6 snuggle-left">
								<button	id="gas-calculate-button" type="button" class="btn btn-primary btn-lg" ng-click="gasCalculator.convertGas()" >
									Convert
								</button>
							</div>
						</div>
						<p class="note">$CAD/litre is calculated using the current exchange rate and the bank exchange fee below. Changing the bank exchange fee has a small effect on the price.</p>
					</div>
				</div>				
			</div>	
		</section>
		<div ui-view="exchangeView"></div>		
	</aside>
</main>
