<section class="row" id="unit-converter">

	<div class="col-md-8 col-md-push-4">

		<div class="header-wrapper">
			<h1>Unit Converter</h1>
			<h3>Confused unit conversion? Don't be!</h3>
			<h4>Use this tool for accurate conversions.<h4>
		</div>
		
		<select class="form-control unit-type" ng-model="unitConverter.selectedType" ng-options="typeOption for typeOption in unitConverter.typeOptions" ng-change="unitConverter.typeChange()"></select>
		
		<div class="group">	
			<div class="input-container">
				<input type="number" class="form-control" ng-model="unitConverter.leftValue" ng-change="unitConverter.calculate('left')" placeholder="0"/>
				<select class="form-control converter-dropdown" ng-model="unitConverter.selectedLeftUnit" ng-change="unitConverter.unitChange('left')" ng-options="unitOption.label for unitOption in unitConverter.unitOptions"></select>
			</div>
			<div class="center-container">=</div>
			<div class="input-container">
				<input type="number" class="form-control" ng-model="unitConverter.rightValue" ng-change="unitConverter.calculate('right')" placeholder="0"/>
				<select class="form-control converter-dropdown" ng-model="unitConverter.selectedRightUnit" ng-change="unitConverter.unitChange('right')" ng-options="unitOption.label for unitOption in unitConverter.unitOptions"></select>
			</div>	
		</div>
		<p class="explanation">
			{{unitConverter.explanation}}
		</p>
	</div>

	<div class="col-md-4 col-md-pull-8 hidden-xs">

		<div class="side-section">
			<h3 class="side-header">Common Conversions</h3>
			<div ng-click="unitConverter.typeChange('Currency')" class="converter">
				<span class="fa-wrapper">
					<i class="fa fa-money" aria-hidden="true"></i>
				</span>
				<span class="fa-label">$USD to $CAD</span>
			</div>
			<div ng-click="unitConverter.typeChange('Length')" class="converter">
				<span class="fa-wrapper">
					<i class="fa fa-car" aria-hidden="true"></i>
				</span>
				<span class="fa-label">Miles to Kilometers</span>
			</div>
			<div ng-click="unitConverter.typeChange('Temperature')" class="converter">
				<span class="fa-wrapper">
					<i class="fa fa-thermometer-half" aria-hidden="true"></i>
				</span>
				<span class="fa-label">Fahrenheit to Celcius</span>
			</div>	
			<div ng-click="unitConverter.typeChange('Volume')" class="converter">
				<span class="fa-wrapper">
					<i class="fa fa-tint" aria-hidden="true"></i>
				</span>
				<span class="fa-label">Gallons to Litres</span>
			</div>	
			<div ng-click="unitConverter.typeChange('Weight')" class="converter">
				<span class="fa-wrapper">
					<i class="fa fa-balance-scale" aria-hidden="true"></i>
				</span>
				<span class="fa-label">Pounds to Kilograms</span>
			</div>		
		</div>
	</div>

</section>