<section id="unit-converter">    
  <aside class="col-side">
    <div class="converter-menu-left">
      <div class="side-header">
        <h3>Converter Menu</h3>
      </div>
      <div class="menu-item" ui-sref="converter.metric" ng-click="unitConverter.menuClicked('metric')" ng-class="{focus: unitConverter.state.current.name === 'converter.metric'}" title="Convert metric and imperial units, as well as currency">
        <span class="fa-wrapper">
          <img class="fa" src="../../assets/images/measuring-tape.png">
        </span>
        <span class="fa-label">Convert Units &amp; Currency</span>
      </div>
      <div class="menu-item" ui-sref="converter.gas" ng-click="unitConverter.menuClicked('gas')" ng-class="{focus: unitConverter.state.current.name === 'converter.gas'}" title="Compare $USD/gallon to $CAD/litre">
        <span class="fa-wrapper">
          <img class="fa" src="../../assets/images/gas-icon.png">
        </span>
        <span class="fa-label">Convert Gas Prices</span>
      </div>
      <div class="menu-item" ui-sref="converter.groceries" ng-click="unitConverter.menuClicked('groceries')" ng-class="{focus: unitConverter.state.current.name == 'converter.groceries'}" title="$USD/pound to $CAD/kg">
        <span class="fa-wrapper">
          <img class="fa" src="../../assets/images/chicken.png">
        </span>
        <span class="fa-label">Convert Grocery Prices</span>
      </div>
    </div>    
  </aside>

	<div ui-view class="col-middle"></div>
   
  <div ui-view="right-side" class="col-side-right"></div> 
  
</section>