<update-title title="Gas Finder - Find Cheap Gas"></update-title>
<update-meta name="description" content="Find the cheapest gas by border state and convert $USD/gallon to $CAD/litre"></update-meta>
<update-meta property="og:title" content="Gas Finder - Find Cheap Gas"></update-meta>
<update-meta itemprop="description" content="Find the cheapest gas by border state and convert $USD/gallon to $CAD/litre"></update-meta>

<main class="page__main page__main--wide order-1 order-md-2">
	<section class="page__section">
		<div class="page__header-wrapper">
			<h2>Find Cheap Gas</h2>
			<h4>Convert USD/gallon to CAD/litre</h4>
			<p>Select a state then <span class="d-lg-none">tap</span><span class="d-none d-lg-inline">click</span> a price to convert to the CAD/litre equivelent</p>
		</div>
		<div class="page__content-wrapper">
			<select class="form-control__select form-control__select--big" data-ng-model="gasFinder.selectedState" data-ng-options="stateObject.name for stateObject in gasFinder.statesArray" data-ng-change="gasFinder.getGasPrices()">
				<option value="" disabled selected>Select border state</option>
			</select>
		</div>
	</section>

	<section class="page__section" data-ng-if="gasFinder.gasObject">
		<div class="page__header-wrapper">
			<h3>Cheapest Gas in {{gasFinder.selectedState.name}}</h3>
		</div>
		<div class="table-responsive">
			<table class="table gas-finder__table">
				<thead>
					<th scope="col">Price</th>
					<th scope="col">Station</th>
					<th scope="col">Area</th>
					<th scope="col">Time</th>
				</thead>
				<tbody>
					<tr data-ng-repeat="station in gasFinder.gasObject">
						<td class="big" title="Click to convert to CAD/litre" data-ng-click="gasFinder.convertGas(station.price)">{{station.price | currency}}</td>
						<td>
							<div class="medium">
								{{station.brand}}
							</div>
							{{station.address}}
						</td>
						<td>{{station.area}}</td>
						<td>{{station.time}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<p class="note" data-ng-if="gasFinder.gasObject"><strong>Note: </strong>This table shows only the cheapest reported prices for regular gas in states that share a border with Canada.</p>
	</section>
</main>

<aside class="page__aside page__aside--left order-2 order-md-1">
	<div class="row">
		<div class="col-12 col-sm-6 col-md-12">
			<section class="gas-finder__section">
				<div class="gas-finder__converter" ui-view="converterView"></div>
			</section>
		</div>
		<div class="col-12 col-sm-6 col-md-12">
			<div ui-view="exchangeView"></div>
		</div>
	</div>
</aside>