<section id="metric-converter">

	<div class="header-wrapper">
		<h1>Metric Converter</h1>
		<h3>Confused unit conversion? Don't be!</h3>
		<h4>Use this tool to accurately convert units.<h4>
	</div>

 	<div class="converter-container">
		<div class="top-container">
			<select class="form-control" ng-model="metricConverter.selectedType" ng-options="typeOption.label for typeOption in metricConverter.typeOptions" ng-change="metricConverter.typeChange()"></select>
		</div>	
		<div class="input-container">
			<input type="number" class="form-control" ng-model="metricConverter.leftValue" ng-pattern="/^-?[0-9]\d*(\.\d+)?$/" ng-change="metricConverter.calculate('leftValue')" placeholder="0" valid-number/>
			<select class="form-control converter-dropdown" ng-model="metricConverter.selectedLeftUnit" ng-change="metricConverter.unitChange('leftValue')" ng-options="unitOption.label for unitOption in metricConverter.unitOptions"></select>
		</div>
		<div class="center-container">=</div>
		<div class="input-container">
			<input type="number" class="form-control" ng-model="metricConverter.rightValue" ng-pattern="/^-?[0-9]\d*(\.\d+)?$/" ng-change="metricConverter.calculate('rightValue')" placeholder="0" valid-number/>
			<select class="form-control converter-dropdown" ng-model="metricConverter.selectedRightUnit" ng-change="metricConverter.unitChange('rightValue')" ng-options="unitOption.label for unitOption in metricConverter.unitOptions"></select>	
			<div data-ng-show="converterForm.rightValue.$error.pattern" class="alert alert-danger alert-dismissible" role="alert">Enter numbers only 
				<span class="glyphicon glyphicon-arrow-up"></span>
			</div>
		</div>
	</div>	
</section>