<div class="header-wrapper">
	<h1>Gas Converter</h1>
	<h2>Stop Comparing Apples to Oranges</h2>
	<h3>Convert USD/gallon to CAD/litre and save</h3>
</div>
<div id="converter-outer">
	<div id="converter-inner" class="gas-background">	
		<div id="converter-innermost">						
			<span class="big">						
				<img src="../../../assets/images/american-icon-small.png" alt="american flag">{{unitConverter.gallonUSD | currency}}
			</span>
			<span class="medium">USD/gallon</span>
			<span class="huge equals">=</span> 
			<span class="big">						
				<img src="../../../assets/images/canadian-icon-small.png" alt="canadian flag">{{unitConverter.litreCAD | currency}}
			</span> 
			<span class="medium">CAD/litre</span>					
			<div class="top-buffer text-center">
				<label for="per-gallon-price" class="control-label">
					Enter a price in USD/gallon and click Convert
				</label>
				<div class="row">
					<div class="col-xs-5 col-xs-offset-1">
						<input id="per-gallon-price" type="text" class="form-control input-lg" ng-model="unitConverter.gallonUSD" ng-blur="unitConverter.convertGas()" placeholder="Enter USD/gallon" format-as-currency />
					</div>
					<div class="col-xs-5">
						<button	id="gas-calculate-button" type="button" class="btn btn-primary btn-lg" ng-click="unitConverter.convertGas()">
							Convert
						</button>
					</div>
				</div>
			</div>
		</div>
		<p class="note">$CAD/litre is calculated using the current exchange rate and the bank exchange fee on the right. Changing the bank exchange fee has a small effect on the price.</p>
	</div>				
</div>
