<div class="header-wrapper">
	<h1>Unit Converter</h1>
	<h2>Accurate metric &amp; currency conversions</h2>
</div>
	
<select class="form-control big-select" ng-model="unitConverter.selectedType" ng-options="typeOption for typeOption in unitConverter.typeOptions" ng-change="unitConverter.typeChange()"></select>

<div class="group">	
	<div class="input-container">
		<input type="number" class="form-control" ng-model="unitConverter.leftValue" ng-change="unitConverter.calculate('left')" placeholder="0"/>
		<select class="form-control converter-dropdown" ng-model="unitConverter.selectedLeftUnit" ng-change="unitConverter.unitChange('left')" ng-options="unitOption.label for unitOption in unitConverter.unitOptions"></select>
	</div>
	<span class="center-container">=</span>
	<div class="input-container">
		<input type="number" class="form-control" ng-model="unitConverter.rightValue" ng-change="unitConverter.calculate('right')" placeholder="0"/>
		<select class="form-control converter-dropdown" ng-model="unitConverter.selectedRightUnit" ng-change="unitConverter.unitChange('right')" ng-options="unitOption.label for unitOption in unitConverter.unitOptions"></select>
	</div>
</div>
<p class="explanation">
	{{unitConverter.explanation}}
</p>