<div class="converter-menu-right">
	<div class="side-header">
		<h4>Common Conversions</h4>
	</div>
	<div ng-click="unitConverter.typeChange('Currency')" class="converter-item" tabindex="1">
		<span class="fa-wrapper">
			<i class="fa fa-money" aria-hidden="true"></i>
		</span>
		<span class="fa-label">$USD to $CAD</span>
	</div>
	<div ng-click="unitConverter.typeChange('Length')" class="converter-item"  tabindex="2">
		<span class="fa-wrapper">
			<i class="fa fa-car" aria-hidden="true"></i>
		</span>
		<span class="fa-label">Miles to Kilometers</span>
	</div>
	<div ng-click="unitConverter.typeChange('Temperature')" class="converter-item" tabindex="3">
		<span class="fa-wrapper">
			<i class="fa fa-thermometer-half" aria-hidden="true"></i>
		</span>
		<span class="fa-label">Fahrenheit to Celcius</span>
	</div>	
	<div ng-click="unitConverter.typeChange('Volume')" class="converter-item" tabindex="4">
		<span class="fa-wrapper">
			<i class="fa fa-tint" aria-hidden="true"></i>
		</span>
		<span class="fa-label">Gallons to Litres</span>
	</div>	
	<div ng-click="unitConverter.typeChange('Weight')" class="converter-item" tabindex="5">
		<span class="fa-wrapper">
			<i class="fa fa-balance-scale" aria-hidden="true"></i>
		</span>
		<span class="fa-label">Pounds to Kilograms</span>
	</div>
</div>		