.form-control {

	&__select {
		@extend .form-control;
		background-color: $light-blue;
		min-width: 200px;

		&--small {
			margin: 0 auto;
			width: 75%;

			@include media-breakpoint-up(md) {
				margin-left: auto;
				width: 25%;
			}
		}

		&--big {
			@extend .form-control-lg;
			max-width: 350px;
			margin: 0 auto;

			@include media-breakpoint-up(md) {
			    width: 50%;
			}
		}
	}

	&__input {
		@extend .form-control;
		height: 38px;
	}
}