.navbar {
  background-color: $primary-color;
  white-space: nowrap;
  margin-bottom: 0;

  @include media-breakpoint-up(lg) {
    padding: 2rem 0;
    margin-bottom: 1rem;
  }
}

.navbar-toggle {
  position: relative;
  display: inline;
  float: none;
  padding: $spacer;
  margin: 0;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }

  .icon-bar {
    display: block;
    position: relative;
    background-color: $white;
    width: 40px;
    height: 3px;
    transition: all 500ms ease-in-out;

    &+ .icon-bar {
      margin-top: 6px;
    }
  }

  &.active .icon-bar:nth-of-type(1) {
    top: 9px;
    transform: rotate(45deg);
  }

  &.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
  }

  &.active .icon-bar:nth-of-type(3) {
    top: -9px;
    transform: rotate(-45deg);
  }
}

.navbar-collapse {
  justify-content: center;

  .navbar-nav {
    flex-wrap: nowrap;

    .nav-link {
      @include poly-fluid-sizing('padding-right', $nav-padding-x-map);
      @include poly-fluid-sizing('padding-left', $nav-padding-x-map);
      @include poly-fluid-sizing('font-size', $nav-font-size-map);
      color: $navbar-dark-color;
      font-weight: $font-weight-medium;
      transition: $transition-base;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }

      &.active {
        color: $navbar-dark-active-color;
        text-shadow: $white-text-shadow;
      }
    }
  }
}
// .show > .nav-link,
// .active > .nav-link,
// .nav-link.show,
// .nav-link.active {
//   color: $navbar-dark-active-color;
// }
