<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
</head>
<body ng-app="borderPalApp">
	<header>
		<!-- background image set by css -->
	</header>
	<nav class="navbar nav-big" role="navigation">
		<ul class="nav navbar-nav">
			<li><a href="cost-estimator">Cost Estimator</a></li>
			<li><a href="gas-calculator">Gas Calculator</a></li>			
			<li><a href="border/us-waits">Border Info</a></li>
			<li><a href="unit-converter">Unit Converter</a></li>
			<li><a href="duty-table">Duty Table</a></li>
		</ul>
	</nav>

	<nav class="navbar nav-small" role="navigation" ng-controller="NavCtrl as navCtrl">
		<div class="navbar-header">
			<a ng-click="navCtrl.isNavCollapsed = !navCtrl.isNavCollapsed" class="navbar-brand" href="#">Menu</a>			
			<button type="button" class="navbar-toggle" ng-click="navCtrl.isNavCollapsed = !navCtrl.isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" uib-collapse="navCtrl.isNavCollapsed">
	      <ul class="nav navbar-nav">
			<li><a href="cost-estimator">Cost Estimator</a></li>
			<li><a href="gas-calculator">Gas</a></li>			
			<li><a href="border-waits">Border Waits</a></li>
			<li><a href="unit-converter">Unit Converter</a></li>
			<li><a href="duty-table">Duty Table</a></li>
	      </ul>
		</div>
	</nav>
	<main class="container-fluid">
		<div ui-view autoscroll="false"></div>
	</main>
	<footer class="row" style="padding-top: 20px;">
		<div class="col-md-6"></div>
		<div class="col-md-6">
			<div class="fb-like" data-href="http://borderpal.ca" style="float:right;" data-width="300px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
		</div>
	</footer>

</body>