<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
	
</header>
<nav class="navbar navbar-inverse vertical-align">
  <div class="container-fluid">
	 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#borderpal-navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
    <div class="collapse navbar-collapse" id="borderpal-navbar">
      <ul class="nav navbar-nav">
        <li><a href="/cost-estimator">Cost Estimator</a></li>
        <li><a href="/metric-converter">Metric Converter</a></li>

		<li><a href="duty-table">Duty Table</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<main ng-app="borderPalApp" class="container-fluid">
	<div ui-view autoscroll="false"></div>
</main>

<footer class="row" style="padding-top: 20px;">
	<div class="col-md-6"></div>
	<div class="col-md-6">
		<div class="fb-like" data-href="http://borderpal.ca" style="float:right;" data-width="300px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
	</div>
</footer>

</body>
</html>