<!DOCTYPE html>
<html lang="en-CA">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BorderPal - The Cross-Border Shopping Assistant</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

	<meta name="author" content="Doug Sabiston">
	<meta name="description" content="The cross-border shopping Assistant for Canadians who buy in the United States. Estimate final shopping costs, get border wait times, convert USD/gallon to CAD/litre and more!">
	<meta property="og:image" content="./assets/images/ .png">
	<meta property="og:description" content="The helpful app for Canadians who shop in the United States">
	<meta property="og:title" content="BorderPal">
	<base href="/">
	<meta name="mobile-web-app-capable" content="yes"><meta name="theme-color" content="#fff"><meta name="application-name" content="borderpal"><link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><meta name="apple-mobile-web-app-title" content="borderpal"><link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png"><link rel="shortcut icon" href="/icons/favicon.ico"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="/icons/apple-touch-startup-image-320x460.png"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="/icons/apple-touch-startup-image-640x920.png"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="/icons/apple-touch-startup-image-640x1096.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="/icons/apple-touch-startup-image-750x1294.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" href="/icons/apple-touch-startup-image-1182x2208.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" href="/icons/apple-touch-startup-image-1242x2148.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="/icons/apple-touch-startup-image-748x1024.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="/icons/apple-touch-startup-image-768x1004.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="/icons/apple-touch-startup-image-1496x2048.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="/icons/apple-touch-startup-image-1536x2008.png">
</head>
<body data-ng-app="borderPalApp">
	<header>
		<!-- background image set by css -->
	</header>
	<nav-main></nav-main>
	<div class="container">
		<div class="page" data-ui-view></div>
	</div>
	<footer></footer>
<body>
