<head>
    <meta charset="utf-8">
    <title>BorderPal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Doug Sabiston">
	<meta name="description" content="The helpful app for Canadians and other cross-border shoppers who shop in or order from the USA">
	<meta property="og:image" content="./assets/images/ .png">
	<meta property="og:description" content="The helpful app for Canadians and other cross-border shoppers who shop in or order from the USA">
	<meta property="og:title" content="BorderPal">
	<base href="/">
</head>
<body ng-app="borderPalApp">
	<header>
		<!-- background image set by css -->
	</header>
	<navbar></navbar>
	<main class="container-fluid" ui-view></main>
	<footer></footer>
</body>