.cost-estimator {

	&__results-section {
		margin-bottom: $spacerX2;
	}

	&__results-headers {
		text-align: center;
		margin-bottom: $spacerX2;
	}

	&__items-section {
		margin-bottom: $spacerX2;
	}
}
