 .item-row {
	@include make-row();
	@extend .align-items-center;
	@extend .justify-content-center;	
	margin-bottom: $spacer-quarter;

	&__col {
		@extend .text-center;
		padding: 0 $spacer-half;

		&--item {
			@extend .col-1;
		}

		&--desc {
			@extend .d-none;
			@extend .d-sm-inline-block;
			@extend .col-sm-3; 
		}

		&--price {
			@extend .col-3;
			@extend .col-sm-2; 
		}

		&--taxable-header {
			@extend .col-4;
			@extend .col-sm-2;
		}

		&--taxable {
			@extend .col-4;
			@extend .col-sm-2;
			@extend .d-flex;
			@extend .justify-content-around;

			span {
				@extend .d-flex;
				@extend .align-items-center;	

				label {
					@extend .mr-1;
				}
			}
		}

		&--duty {
			@extend .d-none;
			@extend .d-sm-block;
			@extend .col-sm-3; 
		}

		&--delete {
			@extend .col-1; 
		}
	}

	&--header {
		@extend .h5;
	}

	&__input {
		width: 100%;
		padding: $spacer-quarter;
	}

	&__checkbox {
        height: $spacer;
        width: $spacer;
	}

	&__label {
		margin-bottom: 0;
	}

 }
