 .item-row {
	@include make-row();
	@include align-items(center);
	@include justify-content(center);
	@extend .mb-1;

	&__col {
		@extend .text-center;

		@include make-col-ready();

		&--item {
			display: none;

			@include media-breakpoint-up(sm) {
				@include make-col(2);
				display: inline;
			}

			@include media-breakpoint-up(md) {
				@include make-col(1);
			}
		}

		&--desc {
			display: none;

			@include media-breakpoint-up(md) {
				@include make-col(2);
				display: inline;
			}
		}

		&--price {
			@include make-col(6);

			@include media-breakpoint-up(sm) {
				@include make-col(2);
			}

			// @include media-breakpoint-up(lg) {
			// 	@include make-col(2);
			// }
		}

		&--taxable-header {
			@include make-col(6);

			@include media-breakpoint-up(sm) {
				@include make-col(3);
			}

			@include media-breakpoint-up(md) {
				@include make-col(2);
			}
		}

		&--taxable {
			@include make-col(6);
			@include flexbox();
			@include justify-content(space-around);

			@include media-breakpoint-up(sm) {
				@include make-col(3);
			}

			@include media-breakpoint-up(md) {
				@include make-col(2);
			}

			span {
				@include flexbox();
				@include align-items(center);

				label {
					@extend .mr-1;
				}
			}
		}

		&--duty {
			display: none;

			@include media-breakpoint-up(sm) {
				@include make-col(4);
				display: inline;
			}

		}

		&--delete {
			display: none;

			@include media-breakpoint-up(sm) {
				@include make-col(1);
				display: inline;
			}
		}
	}

	&--header {
		@extend .h5;
	}

	&__input {
		width: 100%;
		padding: $spacer-quarter;
	}

	&__checkbox {
        height: $spacer;
        width: $spacer;
	}

	&__label {
		margin-bottom: 0;
	}

 }
