.price-converter {

	&__convert-btn {
		@extend .btn;
		@extend .btn-primary;
		text-transform: uppercase;
		width: 100%;
	}

	&__row {
		@extend .d-flex;
		@extend .align-items-center;
	}

	&__left {
		@extend .d-inline-block;
		@extend .text-left;

		img {
			@extend .mr-2;
		}

		.huge {
			@extend .mr-2;
			margin-bottom: .3rem;
		}
	}

	&__center {
		@extend .text-center;
		@extend .mb-4;
	}

	&__controls {
		@extend .mb-4;
		@extend .text-center;
	}

	&__img-bg {
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center;

		&--gas {
			background-image: url("../images/gas-tank.png");
		 
		}

		&--groceries {
			background-image: url("../images/groceries.png");
		}
	}
}