.units-nav-left {
  background-color: $light-blue;
  margin: 0 -15px;

  @extend .m-md-0;

	&__header {
    @extend .d-none;
    @extend .d-md-block;
    @extend .p-4;
    text-align: center;
  }

  &__label {
    font-size: 1.2rem;
    display: block;

    @include media-breakpoint-up(md) {
      display: inline;
    }

    &--mobile {

      @extend .d-lg-none;
      font-weight: bold;
    }

    &--desktop {
      @extend .d-none;
      @extend .d-lg-inline;
    }
  }

  &__item {
      @extend .col;
      @extend .p-0;
      @extend .col-md-12;
   }

  &__items {
    @extend .d-flex;
    @extend .d-md-block;
    list-style: none;
    margin: 0;

    a {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;

      svg {
        fill: $text-color;
        transition: $transition-base;
        height: 100%;
        position: absolute;
        top: 0;

      }
    }

    &--big {
      padding-left: 0;

      li {
        padding-left: 0;
      }

      a {
        padding: 1rem;
        text-align: center;

        @include media-breakpoint-up(md) {
          padding: 1.2rem 0 1.2rem 4.5rem;
          text-align: left;
        }


        svg {
          width: 3rem;
          position: relative;
          @include media-breakpoint-up(md) {
            left: 2rem;
            position: absolute;
            width: 1.5rem;
            opacity: 1;
            right: auto;
          }
        }

        &:hover {
          color: $primary-color;

          svg {
            fill: $primary-color;;
          }
        }

        &.active {
          color: $text-color;
          background-color: $medium-blue;
          text-shadow: $white-text-shadow;

          svg {
            fill: $text-color;;
          }
        }
      }
    }

    &--small {
      padding: 0 0 2rem 1.8rem;

      li {
        padding: .5rem 0;
      }

      svg {
        width: 1.2rem;
        left: 0;
      }

      a {
        padding-left: 2rem;

        &:hover,
        &:focus,
        &:active {
          svg {
            fill: $primary-color;
          }
        }
      }

    }
  }

  &__item-link {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-start;
    @extend .pl-4;
    cursor: pointer;
    height: 80px;

    &.focus {
      background-color: $medium-blue;
      outline: 0;
    }

    img {
      @extend .mr-2;
    }

    .fas {
      @extend .mr-2;
    }

    span {
      @extend .ml-2;
    }
  }
}
