<section data-ng-if="borderCtrl.selectedCams">
  <div class="page__header-wrapper">
    <h2>{{borderCtrl.selectedCams.name}} Traffic Cams</h2>
    <h4>{{borderCtrl.h2}}</h4>
  </div>
  <div class="row" data-ng-if="borderCtrl.showCams">
    <div class="col-md-6" data-ng-repeat="cam in borderCtrl.cams | filter: { name: borderCtrl.selectedCams.side }">
      <a href="{{cam.source}}" target="_blank" title="{{cam.caption}}">
        <figure>
          <img class="border-waits__cam-img" data-ng-src="{{cam.src}}" alt="Traffic cam for {{cam.name}} border area - {{cam.caption}}">
          <figcaption class="border-waits__caption">{{cam.caption}}</figcaption>
        </figure>
      </a>
    </div>
  </div>
</section>

<section data-ng-if="!borderCtrl.selectedCams">
  <h4>Sorry!</h4>
  <h5>There are no cams for this location... yet</h5>
</section>

