<div class="header-wrapper">
	<h1>Canadian Bordercams</h1>
	<h3>(Returning to Canada)</h3>		
</div>
<div class="row">
	<div class="col-md-6">
		<img  width="100%" src="http://images.drivebc.ca/bchighwaycam/pub/cameras/259.jpg">
		Hwy 11 at Farmer Rd-N
		Hwy 11 at Farmer Rd, looking north.
	</div>
	<div class="col-md-6">
		<img width="100%" src="http://images.drivebc.ca/bchighwaycam/pub/cameras/260.jpg">
		Hwy 11 at Farmer Rd-S
		Hwy 11 at Farmer Rd, looking south.
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<img  width="100%"  src="http://images.drivebc.ca/bchighwaycam/pub/cameras/171.jpg">
		Huntingdon/Sumas - N
		Canada/USA border crossing at Hwy 11 and 2nd Ave, looking north.
	</div>
	<div class="col-md-6">
		<img  width="100%" src="http://images.drivebc.ca/bchighwaycam/pub/cameras/170.jpg">
		Huntingdon/Sumas - S
		Canada/USA border crossing at Hwy 11 and 2nd Ave, looking south.
	</div>
</div>
		<div class="col-md-6">
	</div>
		<div class="col-md-6">
	</div>
		<div class="col-md-6">
	</div>
</div>