<div class="side-nav">
	<div class="side-nav__header">
		<h3>Travel Direction</h3>
	</div>
	<a class="side-nav__item-link" data-ui-sref="border.waits.us" data-ng-class="{focus: borderCtrl.state.current.name === 'border.waits.us'}" data-ng-click="borderCtrl.getUSwaits()">
		<img src="../../../assets/images/canadian-icon-small.png" alt="Canadian flag icon for Canadian destinations">	
		<i class="fas fa-arrow-right big" aria-hidden="true"></i>
		<img src="../../../assets/images/american-icon-small.png" alt="American flag icon for US destinations">
		<span class="side-nav__label medium">US-Bound</span>
	</a>
	<a class="side-nav__item-link" data-ui-sref="border.waits.canada" data-ng-class="{focus: borderCtrl.state.current.name === 'border.waits.canada'}"data-ng-click="borderCtrl.getCANwaits()">
		<img src="../../../assets/images/american-icon-small.png" alt="American flag icon for US destinations">	
		<i class="fas fa-arrow-right big" aria-hidden="true"></i>
		<img src="../../../assets/images/canadian-icon-small.png" alt="Canadian flag icon for Canadian destinations">
		<span class="side-nav__label medium">Home-Bound</span>
	</a> 
</div>