<div class="side-nav">
	<div class="side-nav__header">
		<h3>Side of Border</h3>
	</div>
	<a class="side-nav__item-link" data-ui-sref="border.cams" data-ng-click="borderCtrl.camNavClicked('Canada')" data-ng-class="{focus: borderCtrl.state.current.name === 'border.waits.us'}">
		<img src="../../../assets/images/canadian-icon-small.png" alt="Canadian flag icon for Canadian destinations">	
		<i class="fas fa-arrow-right big" aria-hidden="true"></i>
		<img src="../../../assets/images/american-icon-small.png" alt="American flag icon for US destinations">
		<span class="side-nav__label medium">Canadian</span>
	</a>
	<a class="side-nav__item-link" data-ui-sref="border.cams" data-ng-class="{focus: borderCtrl.state.current.name === 'border.waits.canada'}" data-ng-click="borderCtrl.camNavClicked('US')">
		<img src="../../../assets/images/american-icon-small.png" alt="Travelling from the USA to Canada">	
		<i class="fas fa-arrow-right big" aria-hidden="true"></i>
		<img src="../../../assets/images/canadian-icon-small.png" alt="American flag icon for US destinations">
		<span class="side-nav__label medium">US</span>
	</a> 
</div>