<tr data-ng-repeat="port in borderCtrl.mergedBorderArrayUS | orderBy: borderCtrl.sort">
    <td class="name">
        <div class="big-name">
            {{port.name}}
        </div>
        {{port.from}}
        <i class="fas fa-arrow-right"></i>
        {{port.to}}
    </td>
    <td>{{port.passengerDelay}}</td>
    <td>{{port.commercialDelay}}</td>
    <td class="updated">{{port.updateTime}}</td>
    <td class="cams">
        <a data-ui-sref="border.cams.canada">
            <i class="fas fa-camera" aria-hidden="true" data-ng-if="port.cams" title="See traffic cams for this border" data-ng-click="borderCtrl.camClicked(port, 'Canada')"></i>
        </a>
    </td>
	<td class="map">
		<img  class="border-waits__map-icon" src="../../../assets/images/map-icon.png" alt="Google map icon" data-ng-click="borderCtrl.openModal(port)" class="google-map-icon" title="Open a Google Map for this location">
	</td>
</tr>