@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'nav.scss';

body {
    font-family: 'Roboto', sans-serif !important;
    max-width: 1800px;
    margin: 0 auto;
}

header {
    background-image: url("../images/new-header-black.png");
    background-size: cover;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
 }

 .header-wrapper {
    text-align: center;
    margin: 28px 0;

    h1, h2 {
        margin-top: 20px;
        margin-bottom: 20px
    }
    
    h3 {
        margin-top: 15px;
        margin-bottom: 15px
    }
}

#cost-estimator {
    
    .side-section {
        background-color: #ebfaeb;
        margin: 16px 0; 
        padding: 5%;

        .row + .row {
            padding-top: 16px;  
        }
    }

    .side-header {
        margin-bottom: 16px;
        text-align: center;
        font-weight: bold;
    }

    .panel-heading {
        padding: 0;
    }

    #item-header-row {
        font-weight: bold;
        text-align: center;
        font-size: 1.1em;
        margin-bottom: 8px;
    }

    .item-row {
        margin-bottom: 8px;
    }

    input[type="checkbox"] {
        height: 15px;
        width: 15px;
    }  

    #button-group {

        margin-bottom: 24px;
        
        div {
            margin-top: 24px;
            display: flex;
            justify-content: center;
        }

        button {
            margin: 0 8px;
        }

        #add-item {
            width: 140px;
        }

        #calculate {
            width: 190px;
        }
    }

    #cost-estimator-results {
        margin-top: 42px;
    }

    .calc-notes {
        span + span {
            margin-left: 18px;
        }
    }

    #totals-wrapper {
         font-weight: bold; 
         text-align: center; 
         font-size: 16px; 
         margin-top: 48px;
    }

    a.glyphicon-remove-sign {
        color: red;
        font-size: 18px;
    }
} 

#metric-converter {

    #conversion-group {
        text-align: center;
    }

    #converter-section {
        text-align: center;
    }

    .converter-container {
        position: relative;
        margin: 0 auto;
        min-height: 400px;
    }

    .input-container {
        float: left;
        width: 47%;
    }

    .converter-dropdown {
        margin-top: 3px;
    }

    .center-container {
        float: left;
        width: 6%;
        font-size: 2em;
        text-align: center;
    }

    .input-container .form-control {
        height: 40px;
        padding-left: 15px;
        font-size: 18px;
    }

    .top-container .form-control {
        height: 50px;
        padding-left: 15px;
        font-size: 20px;
        background-color: #ebfaeb;
    }

    .center-container h4 {
        padding: 15px 0 15px 0;
    }
}


/* duty table containers */

.duty-table {
    width: 80%;
    margin: 0 auto;
    margin-top: 36px;
}

/* custom classes */

.vertical-align {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-around;
}

.flex-center {
    display: flex;
    justify-content: center;
}

/*.snuggle {
    padding-left: 0;
    padding-right: 0;
}*/

.item-control {
    height: 34px;
    padding: 6px 12px;
    font-size: 1em;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.percent-sign {
    padding-left: 6px;
    font-size: 1.2em;
    font-weight: bold;
}

.percent-input {
    display: inline; 
    padding-right: 0;
}

.control-label {
    display: block;
}

.checkbox-col {
  
    label, input[type="checkbox"] {
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
    header {
        height: 120px;
    }

    #metric-converter {

        .converter-container {
            width: 90%;
        }

        .top-container {
            width: 100%;
            margin-bottom: 12px;
        }
    }

    #cost-estimator {

        .side-section {
            background-color: #fff;
            margin: 0;
            padding: 0;
        }

        .table-responsive {
            padding-bottom: 24px;
        }

        .number-col {
            display: none;
        }

        .desc-col {
            display: none;
        }

        .price-col {
            width: 20%;
        }

        .delete-col {
            width: 5%;
        }

        .duty-col {
            width: 40%;
        }

        .checkbox-col {
            width: 25%;

            label {
                margin-right: 2px;
            }

            input[type="checkbox"] {
                margin-right: 3px;
            }
        }
    }
}

/* xs */
@media only screen and (min-width : 480px) {

    header {
        height: 160px;
    }

    #metric-converter {

        .converter-container {
            width: 80%;
        }
    } /* end xs metric converter */

    #cost-estimator {

        .number-col {
            width: 8%;
            display: inline-block;
            white-space: nowrap;
        }

        .price-col {
            width:19%;
        }
    } /* end xs cost estimator */
}

/* sm */
@media only screen and (min-width : 768px) {

    header {
        height: 200px;
    }

    #metric-converter {

        .top-container {
            margin: 24px auto;
            width: 48%;
        }

        .converter-container {
            width: 70%;
        }
    } /* end sm metric converter */

    #cost-estimator {

        .side-section {
            margin: 16px 0; 
            padding: 5%;
            background-color: #ebfaeb;
        }

        .number-col {
            width: 5%;
            display: inline-block;
            white-space: nowrap;
        }

        .desc-col {
            width: 25%;
            display: inline-block;
        }

        .price-col {
            width: 15%;
        }

        .delete-col {
            width: 5%;
        }

        .duty-col {
            width: 25%;
        }

        .checkbox-col {

            width: 15%;
          
            label, input[type="checkbox"] {
                margin-top: 0;
                margin-bottom: 0;
            }

            label {
                margin-right: 4px;
            }

            input[type="checkbox"] {
                margin-right: 8px;
            }
        }
    } /* end sm cost estimator */
}


/* md */
@media only screen and (min-width : 992px) {

    header {
        height: 300px;
    }

    #metric-converter .converter-container {
        width: 50%;
    }
}


/* lg */
@media only screen and (min-width : 1200px) {
    header {
        height: 400px;
    }
}