@import 'variables.scss';
@import 'typography.scss';
@import 'nav.scss';
@import 'containers.scss';
@import 'tables.scss';

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* converter styles */    
#converter-outer {
    padding: 18px 0;
}
#converter-inner {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    .big {
        margin-left: 5%;
    }
    img {
        margin-right: 2%;
    }
}
.gas-background {
    background-image: url("../images/gas-tank.png");  
}
.grocery-background {
    background-image: url("../images/groceries.png");      
}
#converter-innermost {
    max-width: 400px;
    margin: 0 auto; 
    font-size: 1.3em;
}
#gas-results-table {   
    td.big {
        font-size: 2.3em;
        font-weight: 900;
        cursor: pointer; 
    }
    td.big:hover {
        background-color: $light-blue;
    }
} 
#gas-calculate-button {
    width: 100%;
} /* end gas calculator */

select.big-select {    
    height: 50px;
    padding-left: 15px;
    font-size: 20px;
    background-color: $light-blue;
    margin: 0 auto;
}

a:hover, a:focus {
    text-decoration: none;
}

.header-wrapper {
    text-align: center;
    margin: 28px 0;
}

.instructions-wrapper {
    li {
        font-size: .8em;
    }
}

.side-section {
    margin-bottom: 18px; 
    background-color: $light-blue;
    padding: 15px;
}

.row + .row {
    padding-top: 8px;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

#cost-estimator {

    #item-header-row {
        font-weight: bold;
        text-align: center;
        font-size: 1.1em;
        margin-bottom: 8px;
    }

    .item-row {
        margin-bottom: 8px;
    }

    input[type="checkbox"] {
        height: 15px;
        width: 15px;
    }  

    #button-group {

        margin-bottom: 24px;
        
        div {
            margin-top: 24px;
            display: flex;
            justify-content: center;
        }

        button {
            margin: 0 8px;
        }

        #add-item {
            width: 140px;
        }

        #calculate {
            width: 190px;
        }
    }

    #cost-estimator-results {
        margin-top: 42px;
    }

    .calc-notes {
        span + span {
            margin-left: 18px;
        }
    }

    #totals-wrapper {
         font-weight: bold; 
         text-align: center; 
         font-size: 16px; 
         margin: 48px 0;
    }

    a.glyphicon-remove-sign {
        color: red;
        font-size: 18px;
    }
}

.panel-heading {        
    padding: 0;  
    .panel-title {
        height: 80px;
        @extend .flex-vertical;
        a, span {
            width: 100%;
            text-align: center;
            display: block;
        }
        i {
            float: right;
        }
    }
}

.side-header {
    @extend .flex-center;
    @extend .vertical-align;
    height: 80px;
    border-bottom: 1px $border-color solid;    
}

.side-header-double {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px $border-color solid;    
}

.converter-menu-left {
    background-color: $light-blue;  
    .menu-header {
        border-bottom: 1px $border-color solid;      
        @extend .flex-center;
    }
    div { 
        white-space: nowrap;
        @extend .vertical-align;
    }
    .menu-item {
        cursor: pointer; 
        height: 80px;
        padding-left: 5%;
        .fa-wrapper {
            padding: 12px;
            width: 51px; 
            @extend .flex-center;           
        }
        .fa-label {
            font-weight: bold; 
            font-size: 1.3em;
        }
        i.fa {
            font-size: 1.5em;
        }
    }
    .menu-item.focus {
        background-color: $medium-blue;
        outline: 0;
    }
}

.converter-menu-right {
    .side-header {
        height: 60px;
        border-bottom: 1px $border-color solid;
    }
    .converter-item {
        height: 55px;
        cursor: pointer; 
        .fa-wrapper {
            width: 20%;
            @extend .flex-center;
        }
        .fa-label {
            font-weight: normal; 
            font-size: 1.1em;
            width: 80%;
        }
        i.fa {
            font-size: 1.4em; 
        }
    }
    .converter-item:focus {
        color: $dark-blue;
        outline: 0;
    }
    div { 
        white-space: nowrap;
        @extend .flex-center;
        @extend .vertical-align;
    }
}

#unit-converter {
    .input-container {
        float: left;
        width: 47%;
        select {
            margin-top: 3px;        
        }
        .form-control {
            height: 40px;
            padding-left: 15px;
            font-size: 18px;
        }
    }

    .center-container {
        float: left;
        width: 6%;   
        text-align: center;
        font-size: 2em;
    }

    select.unit-type {
        height: 50px;
        padding-left: 15px;
        font-size: 20px;
        background-color: $light-blue;
    }

    p.explanation {
        text-align: center;
        padding: 18px;
        font-size: 1.3em;
    }
}

#bank-fee-wrapper {
    width: 50%; 
    margin: 0 auto; 
    max-width: 80px;
}

.border-menu {
    background-color: $light-blue;  
    .menu-header {
        height: 80px;
        border-bottom: 1px $border-color solid;      
        @extend .flex-center;
    }
    div { 
        white-space: nowrap;
        @extend .vertical-align;
    }
    .menu-item {
        cursor: pointer; 
        height: 80px;
        padding-left: 5%;
        .fa-wrapper {
            padding: 12px;
            img, i {
                padding: 0 6px;
            }            
        }
        .fa-label {
            font-weight: bold; 
            font-size: 1.3em;
            padding: 0 6px;
        }
        i.fa {
            font-size: 1.5em;
        }
    }
    .menu-item.focus {
        background-color: $medium-blue;
        outline: 0;
    }
}

/* custom classes */
.duty-table {
    width: 80%;
    margin: 0 auto;
    margin-top: 36px;
}

.vertical-align, .flex-vertical {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-around;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.top-buffer {
    margin-top: 18px;
}

.note {
    padding: 15px;
    margin: 15px 0 0;
    text-align: left;
    border-top: 1px solid $border-color;
}

.item-control {
    height: 34px;
    padding: 6px 12px;
    font-size: 1em;
    line-height: 1.4;
    color: $primary-color;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 4px;
}

.percent-input {
    width: 75%;
    float: left;
    padding-right: 0;
}

.control-label {
    display: block;
}

.snuggle-right {
    padding-right: 7.5px;
}

.snuggle-left {
    padding-left: 7.5px;
}

.light-blue {
    background-color: $light-blue;
}

.panel-title {
    padding: 0 12px;
}

.panel-body {
    padding: 15px 0 0;
}

.cam-caption {
    font-weight: bold;
    padding-top: 8px;
}

.checkbox-col {  
    label, input[type="checkbox"] {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#loading-message {
    display: none;
}

/* Custom, iPhone Retina */ 
@media (min-width : 320px) {
    select.big-select {    
       width: 100%;
       margin: 12px 0;
    }
    #sort-dropdown {
        width: 70%;
        margin: 16px auto;
        height: 40px;
        padding-left: 15px;
        font-size: 18px;
    } 

    #unit-converter {
        select.unit-type {
            width: 100%;
            margin-bottom: 12px;
        }
    }

    #cost-estimator {

        .table-responsive {
            padding-bottom: 24px;
        }

        .number-col {
            width: 20%;
        }

        .desc-col {
            display: none;
        }

        .price-col {
            width: 30%;
        }

        .delete-col {
            width: 10%;
        }

        .duty-col {
            display: none;
        }

        .checkbox-col {
            width: 35%;

            label {
                margin-right: 5px;
            }

            input[type="checkbox"] {
                margin-right: 10px;
            }
        }
        .glyphicon-question-sign {
            display: none;
        }
    }
}

/* xs */
@media (min-width : 480px) {

    select.big-select {    
       width: 90%;
       margin: 12px auto;
    }

    #cost-estimator {
        .number-col {
            width: 8%;
            display: inline-block;
            white-space: nowrap;
        }

        .price-col {
            width:19%;
        }
    } /* end xs cost estimator */
}

/* sm */
@media (min-width : 768px) {

    .form-inline .control-label {
        margin-bottom: 5px;
    }
    select.big-select {
        max-width: 340px;  
        width: 80%;
        margin: 16px auto;
    }

    #unit-converter {
        select.unit-type {
            margin: 24px auto;
            width: 48%;
        }
    } /* end sm unit converter */

    #cost-estimator {

        .number-col {
            width: 5%;
            white-space: nowrap;
        }

        .desc-col {
            width: 25%;
            display: inline-block;
        }

        .price-col {
            width: 15%;
        }

        .delete-col {
            width: 5%;
        }

        .duty-col {
            display: inline-block;
            width: 25%;
        }

        .checkbox-col {
            width: 15%;          
            label, input[type="checkbox"] {
                margin-top: 0;
                margin-bottom: 0;
            }

            label {
                margin-right: 4px;
            }

            input[type="checkbox"] {
                margin-right: 8px;
            }
        }
    .glyphicon-question-sign {
        display: inline;
    }
    } /* end sm cost estimator */
}


/* md */
@media (min-width : 992px) {


    #sort-dropdown {
        width: 30%;
        margin-left: auto;
    }
    .header-wrapper {
        h2, h3, h4, h5 {
            display: block;
        }
    }
    select.big-select {    
       width: 70%;
       margin: 24px auto;
    }
    .col-side, .col-middle, .col-full, .col-side-right {
        float: left;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-side {
        width: 29%;
    }
    .col-middle {
        width: 48%;
        #converter-inner .big {
            margin-left: 15%;
        }
    }
    .col-full {
        width: 71%;
    }
    .col-side-push {
        float: right;
    }
    .col-full-push {
        float: left;
    }
    .col-side-right {
        width: 21%;
        #exchange-component {
            font-size: 0.8em;
        }
        .side-section {
            padding: 0;
        }
        .panel-body {
            padding: 8px;
        }
        img {
            display: none;
        }
    }
}

/* lg */
@media (min-width : 1200px) {

}