$font-stack:    'Roboto', sans-serif;
$primary-color: #333;
$fa-font-path:"../../../node_modules/font-awesome/fonts";
$light-green: #ebfaeb;
$light-blue: #eaf1f7;
$medium-blue: #c5d8e9;
$dark-blue: #337ab7;
$border-color: #ccc;